/* LoginComp.css */
.main-page {
    margin-top: 50px;
    margin-left: 20px;
  }

  /* Sidebar.css */
.sidebar {
  width: 20%;
  background: linear-gradient(to bottom, #002144, #025a77);
  color: #fff;
  padding: 20px;
  min-height: 940px;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar a {
  color: #007bff;
  text-decoration: none;
  margin-left: 10px;
}

.sidebar a:hover {
  text-decoration: underline;
}

/* MainContent.css */
.main-content {
  width: 75%;
}

.main-content img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.logo-container {
  margin-bottom: 20px;
}

.logo {
  width: 150px; /* Adjust the width of the logo as needed */
  height: auto;
}

.logo-lang-container {
  display: flex;
  align-items: center; /* Vertically center the items */
}

.logo-container {
  margin-right: 10px; /* Adjust as needed */
}

.login-form-right{
text-align:right;
}

.login-form-left{
  text-align:left;
  }

  .center-box {

    display: flex;
    justify-content: center; /* Horizontally center the items */
    align-items: center; /* Vertically center the items */
    height: 50vh; /* Set the height of the box to full viewport height */
  }
  
  .center-box {
    width: 500px; /* Adjust the width of the form as needed */
    border: #002144;
    border-style: solid;
  }

  .lang-con{
    padding: 5%;
  }