/* FormField.css */
.form-field {
  margin-bottom: 15px;
}

.form-field label {
  font-weight: bold;
}

.form-field input[type="text"],
.form-field input[type="password"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}